<a href="javascript:" class="pins__item__delete js-delete">&times;</a>

<div class="pins__item__image-container">
  <img src="<%= src || '/images/new-pin.gif'%>" alt="">
</div>

<div class="pins__item__details">
  <h2 class="pins__item__details__title">
    <%= title %>
  </h2>

  <input class="pins__item__title-input js_pin-title" type="text" value="<%= title %>">
</div>
