.header {
  height: 50px;

  background: $off-black;

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
      color: $pastel-red;
    }
  }
}

.header__title {
  padding: 15px;
  margin: 0;

  font-size: 1.5em;
  font-weight: bold;
}